[submodule "cntools"]
	path = cntools
	url = https://github.com/cnlohr/cntools
[submodule "lib/tinycc"]
	path = lib/tinycc
	url = https://github.com/mirror/tinycc
[submodule "cnfa"]
	path = lib/cnfa
	url = https://github.com/cntools/cnfa
