[submodule "rawdraw"]
	path = rawdraw
	url = https://github.com/cnlohr/rawdraw
[submodule "cntools"]
	path = cntools
	url = https://github.com/cnlohr/cntools
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "lib/tinycc"]
	path = lib/tinycc
	url = https://github.com/mirror/tinycc
[submodule "cnfa"]
	path = lib/cnfa
	url = https://github.com/cntools/cnfa
